footer {
  width: 100%;
  background: var(--bg-2);
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: min(900px, 100%);
    padding: 0 1rem;

    @media (max-width: 600px) {
      gap: 0.5rem;
    }

    p {
      font-size: clamp(0.5rem, 2vw, 0.8rem);
      color: var(--text-2);
    }

    h4 {
      font-size: clamp(0.5rem, 2vw, 0.8rem);
    }
  }

  .devs {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    align-items: center;
    a {
      height: clamp(15px, 2vw, 30px);
      transition: transform 0.5s ease-in-out;
    }

    a:hover {
      transform: scale(1.1) translate(1px, -1px);
    }

    a:hover img {
      filter: brightness(1.1) drop-shadow(-1px 1px 2px var(--bg));
    }

    hr {
      border: 1px solid var(--primary);
      border-radius: 5px;
      background: var(--primary);
      width: 1px;
      height: 1rem;
    }
  }

  img {
    height: 100%;
    width: auto;
    transition: filter 0.5s ease-in-out;
  }
}
